project_name         = "final-tier4"
region               = "us-east-1"
deployment_mode      = "swarm" # swarm or kubernetes
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]

# Used in swarm mode
instance_type = "t2.micro"
ssh_key_name  = "your-keypair-name"

# Used in kubernetes mode
k8s_version             = "1.29"
k8s_node_instance_types = ["t3.medium"]
k8s_desired_nodes       = 2
k8s_min_nodes           = 1
k8s_max_nodes           = 4
