AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_SESSION_TOKEN=IQoJb3JpZ2EXAMPLE
AWS_DEFAULT_REGION=us-east-1

# Cấu hình nhánh Git dành cho các thành viên trong nhóm
# Thay đổi 'main' thành tên nhánh cá nhân của bạn (ví dụ: dev-khang, feature-ui, v.v.)
GIT_BRANCH=main